<!DOCTYPE html>
<html>
  <head>

  <title>RocketApp</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true%>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

<meta charset="utf-8" />
	<meta name="description" content="" />
	<meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />

	<!-- mobile settings -->
	<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

	
  
  <link href="https://fonts.google.com/specimen/Roboto" rel="stylesheet" type="text/css" />
    
  </head>

  <body>
  
    <%= yield %>
    <script>var plugin_path = ‘assets/plugins/’;</script>
  </body>
</html>
